<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KendoGridRecipes</title>

    <partial name="_KendoScriptsPartial.cshtml" />

</head>
<body>
    @RenderSection("BottomScripts", required: false)
</body>
</html>
