

<h3>LINKS</h3>

<ul style="font-size: 20px;">
    <li><a asp-controller="Home" asp-action="SimpleGrid">Simple Grid</a></li>
    <li><a asp-controller="Home" asp-action="DataGrid">Data Grid</a></li>
    <li><a asp-controller="Home" asp-action="TemplateGrid">Template Grid</a></li>
    <li><a asp-controller="Home" asp-action="EventGrid">Event Grid</a></li>
</ul>