@section BottomScripts {
    <script defer src="~/scripts/simple-grid/index.js" asp-append-version="true"></script>
}

<table id="simple-grid">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Eve</td>
            <td>Mathews</td>
            <td>cursus@etipsumcursus.ca</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Hasad</td>
            <td>Gonzales</td>
            <td>ridiculus.mus@elitfermentumrisus.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Elmo</td>
            <td>Kirk</td>
            <td>feugiat@nectellusNunc.org</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kristen</td>
            <td>Orr</td>
            <td>diam.dictum@iaculisaliquet.ca</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Yeo</td>
            <td>Contreras</td>
            <td>Aenean.sed@Donecest.com</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Thor</td>
            <td>Dyer</td>
            <td>nunc.nulla@lorem.ca</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Martena</td>
            <td>Reyes</td>
            <td>et.magnis@arcu.org</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Cailin</td>
            <td>Padilla</td>
            <td>Sed.eu.eros@aauctor.co.uk</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Rana</td>
            <td>Raymond</td>
            <td>mi.lacinia@musProin.org</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Lyle</td>
            <td>Nicholson</td>
            <td>Donec.felis@Integeridmagna.com</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Salvador</td>
            <td>Love</td>
            <td>Donec.tempus@estNunclaoreet.edu</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Cora</td>
            <td>Newman</td>
            <td>tempor.diam@estmollis.co.uk</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Regan</td>
            <td>Mckinney</td>
            <td>dignissim.magna@feugiattelluslorem.net</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Ruth</td>
            <td>Brennan</td>
            <td>amet@Nunc.net</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Selma</td>
            <td>Hampton</td>
            <td>lorem.lorem.luctus@enim.com</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Phillip</td>
            <td>Dorsey</td>
            <td>auctor.velit.eget@Morbi.net</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Tara</td>
            <td>Castillo</td>
            <td>ullamcorper@dictumeleifend.com</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Paki</td>
            <td>Watson</td>
            <td>ornare@NullaaliquetProin.co.uk</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Ray</td>
            <td>Kirby</td>
            <td>orci.luctus@nullavulputatedui.org</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Elvis</td>
            <td>Hutchinson</td>
            <td>lacus.vestibulum.lorem@Curabitur.ca</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Tiger</td>
            <td>Wagner</td>
            <td>tristique@eu.org</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Bruce</td>
            <td>Shannon</td>
            <td>libero.est.congue@arcuvelquam.org</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Chadwick</td>
            <td>Robinson</td>
            <td>consectetuer.adipiscing@pretiumnequeMorbi.edu</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Tatum</td>
            <td>Colon</td>
            <td>euismod.et.commodo@sed.net</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Priscilla</td>
            <td>Battle</td>
            <td>Nullam.scelerisque@penatibuset.co.uk</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Lyle</td>
            <td>Whitaker</td>
            <td>volutpat.Nulla.dignissim@scelerisquenequeNullam.org</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Steven</td>
            <td>Coffey</td>
            <td>Ut.tincidunt@dictumplacerat.org</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Hilary</td>
            <td>Chaney</td>
            <td>vitae.aliquet@sitamet.net</td>
        </tr>
        <tr>
            <td>29</td>
            <td>Dale</td>
            <td>Mullen</td>
            <td>et@arcuVestibulum.ca</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Beck</td>
            <td>Castaneda</td>
            <td>augue.ac.ipsum@cursuspurusNullam.ca</td>
        </tr>
        <tr>
            <td>31</td>
            <td>Harding</td>
            <td>Turner</td>
            <td>mollis.dui.in@rutrumnonhendrerit.org</td>
        </tr>
        <tr>
            <td>32</td>
            <td>Evan</td>
            <td>Lester</td>
            <td>parturient.montes@Maurisnulla.com</td>
        </tr>
        <tr>
            <td>33</td>
            <td>Addison</td>
            <td>Cross</td>
            <td>mattis@sapienCras.co.uk</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Russell</td>
            <td>Tanner</td>
            <td>diam.Pellentesque@consectetuer.edu</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Wendy</td>
            <td>Cannon</td>
            <td>vel.faucibus.id@ultricesVivamusrhoncus.co.uk</td>
        </tr>
        <tr>
            <td>36</td>
            <td>Cadman</td>
            <td>Carlson</td>
            <td>eu.tellus@felis.ca</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Zenaida</td>
            <td>George</td>
            <td>vitae.sodales.at@liberoettristique.net</td>
        </tr>
        <tr>
            <td>38</td>
            <td>Wayne</td>
            <td>Burks</td>
            <td>est@Phasellus.com</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Fletcher</td>
            <td>Hess</td>
            <td>mus.Proin.vel@bibendumfermentum.ca</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Juliet</td>
            <td>Merrill</td>
            <td>faucibus.leo@consectetuer.org</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Rae</td>
            <td>Carrillo</td>
            <td>mattis.semper.dui@Donecsollicitudin.net</td>
        </tr>
        <tr>
            <td>42</td>
            <td>Keely</td>
            <td>Frost</td>
            <td>sem.consequat@lobortis.ca</td>
        </tr>
        <tr>
            <td>43</td>
            <td>Nathan</td>
            <td>Burch</td>
            <td>facilisi@NullamnislMaecenas.com</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Erica</td>
            <td>Rush</td>
            <td>luctus.et.ultrices@diamat.com</td>
        </tr>
        <tr>
            <td>45</td>
            <td>Jasper</td>
            <td>Wiley</td>
            <td>sodales@laoreetposuereenim.edu</td>
        </tr>
        <tr>
            <td>46</td>
            <td>Conan</td>
            <td>Acosta</td>
            <td>vulputate.dui.nec@Namnulla.co.uk</td>
        </tr>
        <tr>
            <td>47</td>
            <td>Marvin</td>
            <td>Caldwell</td>
            <td>sem.magna.nec@lectus.co.uk</td>
        </tr>
        <tr>
            <td>48</td>
            <td>Dane</td>
            <td>Knox</td>
            <td>adipiscing.elit.Etiam@Fuscealiquam.edu</td>
        </tr>
        <tr>
            <td>49</td>
            <td>Julian</td>
            <td>Sanford</td>
            <td>amet.ante.Vivamus@loremeu.ca</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Kasper</td>
            <td>Stone</td>
            <td>in@ullamcorpermagna.ca</td>
        </tr>
        <tr>
            <td>51</td>
            <td>Hadley</td>
            <td>Horn</td>
            <td>Aliquam.gravida.mauris@maurissagittis.co.uk</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Austin</td>
            <td>Mcguire</td>
            <td>lacus.Quisque@libero.net</td>
        </tr>
        <tr>
            <td>53</td>
            <td>Gillian</td>
            <td>Acosta</td>
            <td>diam@duiSuspendisseac.org</td>
        </tr>
        <tr>
            <td>54</td>
            <td>Giselle</td>
            <td>Aguirre</td>
            <td>ipsum.Phasellus.vitae@arcuVestibulum.ca</td>
        </tr>
        <tr>
            <td>55</td>
            <td>Dustin</td>
            <td>Marquez</td>
            <td>montes.nascetur@sit.ca</td>
        </tr>
        <tr>
            <td>56</td>
            <td>Wynter</td>
            <td>Shaw</td>
            <td>gravida@Aliquamgravida.edu</td>
        </tr>
        <tr>
            <td>57</td>
            <td>Xena</td>
            <td>Garrett</td>
            <td>pede@lorem.net</td>
        </tr>
        <tr>
            <td>58</td>
            <td>Acton</td>
            <td>Downs</td>
            <td>nec.tempus@ornare.co.uk</td>
        </tr>
        <tr>
            <td>59</td>
            <td>Octavius</td>
            <td>Gates</td>
            <td>morbi@nonsollicitudin.co.uk</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Carl</td>
            <td>Gardner</td>
            <td>velit@Crasdolor.ca</td>
        </tr>
        <tr>
            <td>61</td>
            <td>Lucas</td>
            <td>Vasquez</td>
            <td>pede@loremDonec.com</td>
        </tr>
        <tr>
            <td>62</td>
            <td>Carla</td>
            <td>Lang</td>
            <td>ultrices.posuere.cubilia@nequeNullam.org</td>
        </tr>
        <tr>
            <td>63</td>
            <td>Ima</td>
            <td>Barlow</td>
            <td>luctus.et@hendreritDonecporttitor.com</td>
        </tr>
        <tr>
            <td>64</td>
            <td>Daryl</td>
            <td>Stark</td>
            <td>mauris@augueeutellus.ca</td>
        </tr>
        <tr>
            <td>65</td>
            <td>Rhoda</td>
            <td>Skinner</td>
            <td>sollicitudin@auctor.edu</td>
        </tr>
        <tr>
            <td>66</td>
            <td>Reuben</td>
            <td>Chavez</td>
            <td>ornare.libero@volutpat.co.uk</td>
        </tr>
        <tr>
            <td>67</td>
            <td>Stone</td>
            <td>Cervantes</td>
            <td>metus.In@tristiquealiquet.co.uk</td>
        </tr>
        <tr>
            <td>68</td>
            <td>Fletcher</td>
            <td>Copeland</td>
            <td>sed@molestietortornibh.com</td>
        </tr>
        <tr>
            <td>69</td>
            <td>Benedict</td>
            <td>Woods</td>
            <td>eu.lacus@semutcursus.org</td>
        </tr>
        <tr>
            <td>70</td>
            <td>Nadine</td>
            <td>Mitchell</td>
            <td>euismod.ac@laoreet.co.uk</td>
        </tr>
        <tr>
            <td>71</td>
            <td>India</td>
            <td>Flores</td>
            <td>eleifend.vitae@tortorat.co.uk</td>
        </tr>
        <tr>
            <td>72</td>
            <td>Ethan</td>
            <td>Bishop</td>
            <td>feugiat.non.lobortis@Donecfringilla.edu</td>
        </tr>
        <tr>
            <td>73</td>
            <td>Grant</td>
            <td>Cochran</td>
            <td>quam.a.felis@volutpat.co.uk</td>
        </tr>
        <tr>
            <td>74</td>
            <td>Charity</td>
            <td>Riley</td>
            <td>et@interdumfeugiatSed.org</td>
        </tr>
        <tr>
            <td>75</td>
            <td>Flynn</td>
            <td>Erickson</td>
            <td>lorem.fringilla.ornare@utnisia.org</td>
        </tr>
        <tr>
            <td>76</td>
            <td>Gage</td>
            <td>Hutchinson</td>
            <td>ante.bibendum.ullamcorper@sedleoCras.ca</td>
        </tr>
        <tr>
            <td>77</td>
            <td>Maxwell</td>
            <td>Hunter</td>
            <td>Phasellus.vitae.mauris@quismassa.ca</td>
        </tr>
        <tr>
            <td>78</td>
            <td>Marshall</td>
            <td>Swanson</td>
            <td>Nunc.ac@elit.net</td>
        </tr>
        <tr>
            <td>79</td>
            <td>Karly</td>
            <td>Chapman</td>
            <td>ipsum.nunc.id@lectus.org</td>
        </tr>
        <tr>
            <td>80</td>
            <td>Emmanuel</td>
            <td>Bond</td>
            <td>varius@utmolestiein.co.uk</td>
        </tr>
        <tr>
            <td>81</td>
            <td>Camille</td>
            <td>Edwards</td>
            <td>Nam.tempor.diam@montesnasceturridiculus.edu</td>
        </tr>
        <tr>
            <td>82</td>
            <td>Brooke</td>
            <td>Simmons</td>
            <td>et.netus@egestashendrerit.org</td>
        </tr>
        <tr>
            <td>83</td>
            <td>Octavius</td>
            <td>Hoover</td>
            <td>dapibus.gravida@ac.co.uk</td>
        </tr>
        <tr>
            <td>84</td>
            <td>Francis</td>
            <td>Holden</td>
            <td>Etiam.gravida@rhoncusDonec.edu</td>
        </tr>
        <tr>
            <td>85</td>
            <td>Lacota</td>
            <td>Richards</td>
            <td>Aliquam.tincidunt@laoreetipsumCurabitur.ca</td>
        </tr>
        <tr>
            <td>86</td>
            <td>Amity</td>
            <td>Salazar</td>
            <td>auctor.nunc@liberoProin.ca</td>
        </tr>
        <tr>
            <td>87</td>
            <td>Lacota</td>
            <td>Garcia</td>
            <td>amet.metus@in.edu</td>
        </tr>
        <tr>
            <td>88</td>
            <td>Andrew</td>
            <td>Blair</td>
            <td>congue@in.net</td>
        </tr>
        <tr>
            <td>89</td>
            <td>Isaac</td>
            <td>Leblanc</td>
            <td>cursus.purus@enim.com</td>
        </tr>
        <tr>
            <td>90</td>
            <td>Calista</td>
            <td>Golden</td>
            <td>nisl@acmattis.edu</td>
        </tr>
        <tr>
            <td>91</td>
            <td>Duncan</td>
            <td>Neal</td>
            <td>porttitor.interdum@Sed.org</td>
        </tr>
        <tr>
            <td>92</td>
            <td>Kessie</td>
            <td>Peters</td>
            <td>mauris.Morbi@aliquetnecimperdiet.org</td>
        </tr>
        <tr>
            <td>93</td>
            <td>Amela</td>
            <td>Nolan</td>
            <td>scelerisque@utpellentesqueeget.com</td>
        </tr>
        <tr>
            <td>94</td>
            <td>Ferdinand</td>
            <td>Cook</td>
            <td>sed.sem@interdumfeugiatSed.com</td>
        </tr>
        <tr>
            <td>95</td>
            <td>Mark</td>
            <td>Flynn</td>
            <td>sed@Cumsociis.ca</td>
        </tr>
        <tr>
            <td>96</td>
            <td>Zephania</td>
            <td>Buckner</td>
            <td>nec@Nullasempertellus.ca</td>
        </tr>
        <tr>
            <td>97</td>
            <td>Nomlanga</td>
            <td>Shaw</td>
            <td>velit@convallisligula.co.uk</td>
        </tr>
        <tr>
            <td>98</td>
            <td>Willa</td>
            <td>Edwards</td>
            <td>enim@interdum.net</td>
        </tr>
        <tr>
            <td>99</td>
            <td>Dana</td>
            <td>Gibson</td>
            <td>purus.Maecenas@Integereu.edu</td>
        </tr>
        <tr>
            <td>100</td>
            <td>Remedios</td>
            <td>Ortega</td>
            <td>Cras@libero.co.uk</td>
        </tr>
    </tbody>
</table>